<div class="w-full">
     <div class=" h-18 bg-yellow-700 justify-center items-center px-20 py-5 md:flex ">
     
      <ul class=" md:flex lg:flex  gap-5 font-serif hidden mr-20 ">
        <li routerLink="" class="hover:border-b-4 hover:text-white font-bold">Home</li>
        <li routerLink="about" class="hover:border-b-4 hover:text-white font-bold ">
          About
        </li>
        <li routerLink="news" class="hover:border-b-4 hover:text-white font-bold">
          News
        </li>
       
        <li routerLink="contactus" class="hover:border-b-4  hover:text-white font-bold">
          Contact Us
        </li>
      </ul>
    </div> 
    </div>