<div class="max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2 md:max-w-lg mt-7">
    <div class="bg-white px-6 py-8 rounded shadow-lg text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Contact Us</h1>
      <input
        type="text"
        class="block border border-grey-light w-full  p-3 rounded mb-4"
        name="fullName"
        placeholder="Full Name"
       
      />
      <input
        type="text"
        class="block border border-grey-light w-full p-3 rounded mb-4"
        name="email"
        placeholder="Email"

      />
      
      <textarea  class="block border border-grey-light w-full p-4 rounded mb-4">
       your message...
      </textarea>
      
      <button
        type="submit"
        class="w-full bg-blue-700 text-center py-3 rounded bg-green text-white hover:bg-blue-500 focus:outline-none my-1"
      >
       Submit
      </button>
     
    </div>
  </div>


