
<div class="flex flex-col  items-center">
    <div class="flex w-9/12 m-4 rounded-2xl shadow-2xl max-w-screen-lg hover:bg-blue-700 hover:text-white">
    <img class="rounded-l-2xl" src="../../assets/nature.jpg" alt="this image" />
    <div class="flex flex-col text-center justify-center p-3">
        <h1 class="font-bold text-2xl mb-3">Component Lifecycle</h1>
        <p>A component instance has a lifecycle that starts when Angular instantiates the component class and renders the component view along with its child views. The lifecycle continues with change detection, as Angular checks to see when data-bound properties change, and updates both the view and the component instance as needed.</p>
    </div>
</div>
<div class="flex w-9/12 m-4 rounded-2xl shadow-2xl max-w-screen-lg hover:bg-blue-700 hover:text-white">
    <img class="rounded-l-2xl" src="../../assets/nature.jpg" alt="this image" />
    <div class="flex flex-col text-center justify-center p-3">
        <h1 class="font-bold text-2xl mb-3">Component Lifecycle</h1>
        <p>A component instance has a lifecycle that starts when Angular instantiates the component class and renders the component view along with its child views. The lifecycle continues with change detection, as Angular checks to see when data-bound properties change, and updates both the view and the component instance as needed.</p>
    </div>
</div>
<div class="flex w-9/12 m-4 rounded-2xl shadow-2xl max-w-screen-lg hover:bg-blue-700 hover:text-white">
    <img class="rounded-l-2xl" src="../../assets/nature.jpg" alt="this image" />
    <div class="flex flex-col text-center justify-center p-3">
        <h1 class="font-bold text-2xl mb-3">Component Lifecycle</h1>
        <p>A component instance has a lifecycle that starts when Angular instantiates the component class and renders the component view along with its child views. The lifecycle continues with change detection, as Angular checks to see when data-bound properties change, and updates both the view and the component instance as needed.</p>
    </div>
</div>
<div class="flex w-9/12 m-4 rounded-2xl shadow-2xl max-w-screen-lg hover:bg-blue-700 hover:text-white">
    <img class="rounded-l-2xl" src="../../assets/nature.jpg" alt="this image" />
    <div class="flex flex-col text-center justify-center p-3">
        <h1 class="font-bold text-2xl mb-3">Component Lifecycle</h1>
        <p>A component instance has a lifecycle that starts when Angular instantiates the component class and renders the component view along with its child views. The lifecycle continues with change detection, as Angular checks to see when data-bound properties change, and updates both the view and the component instance as needed.</p>
    </div>
</div>
</div>
